body {
	color: #333;
	font-family: Larsseit,Helvetica Neue,Helvetica,Arial,sans-serif;
	margin: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	font-family: Larsseit, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*----------------------------slider----------------------------*/
ul {
	padding: 0;
}

.slider-content {
	position: relative;
	display: none;
	margin: 0 auto;
	background-color: #0b0b14;
}

.slider-content div {
	position: absolute;
}

.slider-img {
	margin: 0 auto;
}

.slideshow h2 {
	display: none;
}

.slider-info {
	width: 200px;
}

.daily-buzz h2 {
	display: none;
}

.daily-buzz .list-post {
	display: grid;
	grid-column-gap: 5px;
	grid-template-columns: auto auto;
	text-align: center;
}

.list-post-item {
	font-size: 10px;
	border: 0.5px solid #e0e0e0;
	margin: 30px auto;
}

.list-post-description {
	padding: 0 10px;
}

.list-post-item a {
	text-decoration: none;
	color: inherit;
}

.list-post-image img {
	width: 100%;
	height: 100%;
}

.list-post-image {
	max-width: 350px;
}

.snippet-wrapper {
	background-color: white;
	padding: 30px 40px;
	margin-top: -10px;
	width: 25%;
	box-shadow: inset 7px 1px 10px 0px #98989875;
	right: 20px;
	border-radius: 2px;
	font-size: 11px;
}

.title-b {
	color: red;
}

.summary {
	color: black;
	font-size: 14px;
	width: 100%;
}

.title-a {
	background-color: #ffffff7a;
	padding: 20px;
	bottom: 20px;
	width: 100%;
}

.pagination {
	color: lightgrey;
	float: right;
	margin-right: 40px;
}

li {
	cursor: pointer;
	list-style: none;
	display: inline-block;
	color: white;
}

li:hover {
	background: #313131;
	color: grey;
}

.nav-item {
	padding: 10px;
}

/*----------------------------header----------------------------*/

header {
	background-color: #0b0b0b;
	height: 40px;
}

.header ul {
	margin-top: 0;
}

article {
	padding: 20px;
}

.article-nav {
	display: none;
	position: absolute;
	top: 40px;
	right: 0;
	z-index: 100;
	background-color: #0b0b0b;
}

.article-nav li {
	display: block;
}

article a {
	text-decoration: none;
	color: #444;
}

.page-container {
	width: 100%;
	margin: 0 auto;
}

.main-content .articles {
	display: grid;
	grid-template-columns: auto auto;
}

.main-content {
	position: relative;
}

img {
	width: 100%;
}
/*----------------------------footer----------------------------*/
.m-footer__search-wrapper_logo svg {
	height: 34px;
}

.message-wrapper {
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: 100;
}

.newsletter-signup-form {
	background-color: #f7f7f7;
	font-size: 12px;
	color: #333;
	opacity: 0.95;
}

.newsletter-signup-form .aol-btn {
	width: 30%;
}

.sign-up-input-wrapper {
	position: relative;
	margin-bottom: 25px;
}

.aol-btn {
	border: none;
	background: #3498db;
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	border-radius: 2px;
	color: #ffffff;
	font-size: 14px;
	padding: 6px 12px 6px 12px;
	text-decoration: none;
}

.aol-btn:hover {
	background: #3cb0fd;
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
}

.m-make-homepage {
	width: 50%;
	margin: 0 auto;
}

.send-sail-throu-signup {
	position: absolute;
	right: 0;
	top: 0;
	right: -3px;
	height: 100%;
}

.email-input {
	box-sizing: border-box;
	padding-left: 10px;
	height: 35px;
	width: 100%;
}

.sign-up-close {
	float: right;
	right: 0;
	font-weight: 600;
	font-size: 22px;
	cursor: pointer;
}

.sign-up-error-message {
	position: absolute;
	bottom: 0;
	color: #ff3131;
	padding: 10px;
}

.newsletter-signup-form {
	border: 1px solid #E0E0E0;
	padding: 10px 10px 0px;
}



/*----------------------------aside----------------------------*/
aside article {
	display: grid;
	grid-template-columns: auto auto;
}

main, aside {
	font-size: 10px;
	color: black;
}

.aside-content .list-post-image {
	max-width: 225px;
}

/*----------------------------navigator----------------------------*/
.nav-container {
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	z-index: 201;
	background-color: #f0f0f0;
}

.nav-container a {
	display: none;
}

.slideshow-wrapper {
	position: relative;
}

/*----------------------------footer----------------------------*/
.m-footer__links__row1 a {
	text-decoration: none;
	font-size: 12px;
	color: #00000080;
	padding: 10px;
	float: right;
}

.m-footer__search-wrapper {
	border-bottom: 1px solid #00000080;
}

/*----------------------------burgermenu----------------------------*/
.burger-menu-container {
	cursor: pointer;
	float: right;
	padding-right: 10px;
}

.bar1, .bar2, .bar3 {
	width: 35px;
	height: 5px;
	background-color: #fff;
	margin: 6px 0;
	transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
	opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}

/*----------------------------Modal----------------------------*/
.modal-content {
	background-color: #f2f2f2;
}

.info-wrapper {
	padding: 60px 10px;
}

.info-wrapper h2 {
	margin: 0;
	padding: 5px;
	background-color: #b3b3b3;
	color: white;
	line-height: 15px;
	font-size: 12px;
	font-weight: 500;
}

.info-wrapper p {
	color: #666;
	background-color: #f2f2f2;
	margin: 0;
	line-height: 15px;
	font-size: 11px;
}

@media only screen and (min-width: 1024px) {
    /*----------------------------header----------------------------*/
	.article-nav {
		margin-left: 200px;
	}

	.burger-menu-container {
		display: none;
	}

    /*----------------------------main----------------------------*/
	.page-container {
		width: 80vw;
	}

	.page-content {
		display: grid;
		grid-template-columns: auto 225px;
	}

	.slideshow-wrapper {
		width: calc(80vw - 225px);
	}

	.nav-container {
		position: relative;
		float: right;
		background-color: #fff;
	}

	.nav-container a {
		display: inline-block;
	}

	aside article {
		display: block;
	}

	.info-btn {
		width: 100%;
	}

	.m-make-homepage {
		width: initial;
		margin: 0;
	}

	.newsletter-signup-form {
		width: 50%;
		margin: 0 auto;
	}

	.message-wrapper {
		width: 80%;
	}

	.info-wrapper {
		padding: 60px;
	}
}